<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicionario com flask e jinja, jinja nao ninj, serio, tu deveria parar de confundir isso</title>
</head>
<body>

    <h1>Informações do usuario</h1>
    <p><strong>Nome: </strong> {{ usuario.nome }}</p>
    <p><strong>Idade: </strong> {{ usuario.idade }}</p>
    <p><strong>Cidade: </strong> {{ usuario.cidade }}</p>
    <h2>Interesses</h2>
    <ul>
        {% for interesse in usuario.interesses %}
            <li>{{ interesse }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>